.sep-5{
	min-height: 5px;
	width: 100%;  
}

.sep-10{
	min-height: 10px;
	width: 100%;
}
.sep-20{
	min-height: 20px;
	width: 100%;
}
.sep-30{
	min-height: 30px;
	width: 100%;
}
.sep-40{
	min-height: 40px;
	width: 100%;
}
.sep-50{
	min-height: 50px;
	width: 100%;
}
